<div [hidden]="!showchallenges">
  <nb-layout>
    <nb-layout-column class="colored-column-warning col-md-3" *ngIf="showchallenges && challenges">
      <h4>{{challenges[currentchallenge].title}}</h4>
      <div [innerHTML]="challenges[currentchallenge].notes"></div>
      <button nbButton class="float-right" (click)="nextchallenge()">Next Challenge</button>
      <button nbButton class="float-right" (click)="previouschallenge()">Previous Challenge</button>
      <button nbButton class="float-right" (click)="submitlab()" (disabled)="submitted"><p *ngIf="submitted">Already Submitted</p><p *ngIf="!submitted">Submit Lab</p></button>
      <button nbButton class="float-right" (click)="snapshotcontainer()" *ngIf="this.courseid == 'instructor'">Present to students the current project</button>
      <p *ngIf="submitted">Changes made to this lab will be reflected in the submitted code immediately</p>
    </nb-layout-column>
    <nb-layout-column class="colored-column-info col-md-9">
      <div id="loader" *ngIf="showeditor">LOADING WIDE EDITOR</div>
      <div id="container">
        <div id="top" *ngIf="showeditor">
          <div id="sidebar">
            <div class="header">

            </div>
            <div id="open-files">

            </div>
            <div id="folder-files">

            </div>
          </div>
          <div id="code-area">
            <div id="code-header">

            </div>
            <div id="code-editor">

            </div>
          </div>
        </div>
        <div id="bottom-term">
          <div class="tabsheader" style="background-color: #222; height: 30px; overflow: hidden;">
            <div class="tab">
              Terminal
            </div>
            <div class="tab" *ngFor="let iframe of iframe_tabs">
              <a [href]="iframe.address" target="_blank"> navigate to port {{iframe.port}}</a>
            </div>
            <div class="tab btn-group">
              <button>
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <div *ngIf="showterminal" id="terminal">

          </div>
          <div id="iframe-option">
            <input type="text" id="input-port-number" nbInput fieldSize="medium" placeholder="Port Number" name="port-number" [(ngModel)]="porttoconnect">
            <button nbButton class="float-right" (click)="startiframe(porttoconnect)">Connect</button>
          </div>
          <div *ngIf="inlineiframe" id="iframeshow" [innerHtml]="iframeelement">

          </div>
        </div>
      </div>
      <!--<script src="./assets/js/monaco-editor/min/vs/loader.js"></script>-->
      <!--<script src="http://localhost:8887/code.js"></script>-->

    </nb-layout-column>
  </nb-layout>
</div>
<div [hidden]="showchallenges" *ngIf="track">
  <h3>{{track.title}}</h3>
  <p>{{track.description}}</p>
  <button nbButton class="float-right" (click)="nextchallenge()">Next Challenge</button>
  <button nbButton class="float-right" (click)="previouschallenge()">Previous Challenge</button>

</div>
