<nb-card>
  <nb-layout>
    <nb-layout-column>
      <h5>Evaluating {{this.studentid}}'s {{this.trackid}} in course {{this.courseid}}</h5>
      <div id="container">
        <div id="top" style="display: flex; height: 100%">
          <div id="sidebar">
            <div class="header">

            </div>
            <div id="open-files">

            </div>
            <div id="folder-files">

            </div>
          </div>
          <div id="code-area">
            <div id="code-header">

            </div>
            <div id="code-editor">

            </div>
          </div>
          <div id="iframe-area" style="display: none; height: 100%; flex-grow: 1">
            <iframe id="iframe-block" style="height: 100%; width: 100%"></iframe>
          </div>
        </div>
      </div>
    </nb-layout-column>
  </nb-layout>
</nb-card>
<div class="colored-column-warning control-bottom-bar">

  <button nbButton (click)="previoussubmission()" *ngIf="serial_number > 0">Previous Submission</button>
  <label class="label" for="input-grade" style="color: #ffffff">Grade:</label>
  <input type="text" id="input-grade" nbInput fieldSize="medium" placeholder="Grade" name="Grade" [(ngModel)]="grade">
  <button nbButton (click)="gradesubmission()">Submit Grade</button>
  <button nbButton class="float-right" *ngIf="serial_number < submitted_assignments.length - 1" (click)="nextsubmission()">Next Submission</button>
  <button nbButton class="float-right" (click)="runcode()">Run Code</button>

</div>
