<nb-card>
  <nb-card-body>
    <form #form="ngForm" aria-labelledby="title">
      <p>Track</p>
        <div class="form-control-group">
          <label class="label" for="input-title">Title:</label>
          <input type="text" id="input-title" name="track-title{{trackindex}}" [(ngModel)]="newtrack.title" nbInput fullWidth fieldSize="medium" placeholder="Title">
        </div>
        <div class="form-control-group">
          <label class="label" for="input-description">Description:</label>
          <input type="text" id="input-description" nbInput fullWidth fieldSize="medium" placeholder="Description" name="description{{trackindex}}" [(ngModel)]="newtrack.description">
        </div>
        <div class="form-control-group">
          <nb-select placeholder="Select Type" [(selected)]="newtrack.labtype">
            <nb-option value="colab">Google Colab</nb-option>
            <nb-option value="own">Own Lab</nb-option>
          </nb-select>
        </div>
        <div *ngIf="newtrack.labtype == 'colab'">
          <div class="form-control-group">
            <label class="label" for="input-colab">Link to Google Colab:</label>
            <input type="text" id="input-colab" nbInput fullWidth fieldSize="medium" placeholder="Colab Link" name="colab{{trackindex}}" [(ngModel)]="newtrack.colablink">
          </div>
        </div>
        <div *ngIf="newtrack.labtype == 'own'">
          <div class="form-control-group">
            <label class="label" for="input-image">Container:</label>
            <input type="text" id="input-image" nbInput fullWidth fieldSize="medium" placeholder="Container" name="container{{trackindex}}" [(ngModel)]="newtrack.container">
          </div>
          <div class="form-control-group">
            <label class="label" for="input-installscript">Installation Script:</label>
            <ngx-monaco-editor id="input-installscript" [options]="monacoeditor" name="installscript{{trackindex}}" [(ngModel)]="newtrack.installscript"></ngx-monaco-editor>
          </div>
          <div class="form-control-group">
            <label class="label" for="input-configscript">Configuration Script:</label>
            <ngx-monaco-editor id="input-configscript" [options]="monacoeditor" name="configscript{{trackindex}}" [(ngModel)]="newtrack.configscript"></ngx-monaco-editor>
          </div>
          <div class="form-control-group">
            <label class="label" >Scenario:</label>
            <nb-select placeholder="Select Scenario" [(selected)]="newtrack.scenario">
              <nb-option value="terminal">Terminal</nb-option>
              <nb-option value="editor-terminal">Editor + Terminal</nb-option>
              <nb-option value="iframe-terminal">Iframe + Terminal</nb-option>
              <nb-option value="iframe-editor">Advanced Editor</nb-option>
            </nb-select>
          </div>
          <div *ngIf="newtrack.scenario === 'terminal'">
            <input type="text" id="input-scenario-options-terminal" nbInput fullWidth fieldSize="medium" placeholder="Home Directory" name="scenario-option{{trackindex}}" [(ngModel)]="newtrack.scenario_data.home_directory">

          </div>
          <div *ngIf="newtrack.scenario === 'editor-terminal'">
            <input type="text" id="input-scenario-options-editor" nbInput fullWidth fieldSize="medium" placeholder="Home Directory" name="scenario-option{{trackindex}}" [(ngModel)]="newtrack.scenario_data.home_directory">
          </div>
          <div *ngIf="newtrack.scenario === 'iframe-terminal'">
            <input type="text" id="input-scenario-options-3" nbInput fullWidth fieldSize="medium" placeholder="Home Directory" name="scenario-option{{trackindex}}" [(ngModel)]="newtrack.scenario_data.home_directory">
            <input type="text" id="input-scenario-options-4" nbInput fullWidth fieldSize="medium" placeholder="Port" name="scenario-option-2{{trackindex}}" [(ngModel)]="newtrack.scenario_data.port">
          </div>
          <div *ngIf="newtrack.scenario === 'iframe-editor'">
            <input type="text" id="input-scenario-options-5" nbInput fullWidth fieldSize="medium" placeholder="Home Directory" name="scenario-option{{trackindex}}" [(ngModel)]="newtrack.scenario_data.home_directory">

          </div>
        </div>
        <p>Challenges</p>
        <div *ngFor="let challenge of newtrack.challenges; let challengeindex = index;">
          <p>Challenge {{challengeindex + 1}}</p>
          <div class="form-control-group">
            <label class="label" for="input-challengetitle">Title:</label>
            <input type="text" id="input-challengetitle" nbInput fullWidth fieldSize="medium" placeholder="Title" name="challengetitle{{challengeindex}}" [(ngModel)]="challenge.title">
          </div>
          <div class="form-control-group">
            <label class="label" for="input-notes">Notes:</label>
            <ckeditor [editor]="Editor" id="input-notes" data="<p>Hello, world!</p>" name="notes{{challengeindex}}" [(ngModel)]="challenge.notes" ></ckeditor>
          </div>
          <div class="form-control-group">
            <label class="label" for="input-setup">Setup Script:</label>
            <ngx-monaco-editor id="input-setup" [options]="monacoeditor" [(ngModel)]="newtrack.challenges[challengeindex].setupscript" name="setupscript{{challengeindex}}"></ngx-monaco-editor>
          </div>
          <div class="form-control-group">
            <label class="label" for="input-check">Check:</label>
            <ngx-monaco-editor id="input-check" [options]="monacoeditor" [(ngModel)]="newtrack.challenges[challengeindex].checkscript" name="checkscript{{challengeindex}}"></ngx-monaco-editor>
          </div>
          <div class="form-control-group">
            <label class="label" for="input-clean">Clean:</label>
            <ngx-monaco-editor id="input-clean" [options]="monacoeditor" [(ngModel)]="newtrack.challenges[challengeindex].cleanscript" name="cleanscript{{challengeindex}}"></ngx-monaco-editor>
          </div>
          <div class="form-control-group">
            <label class="label" for="input-challengeposition">Challenge Position:</label>
            <input type="text" id="input-challengeposition" nbInput fullWidth fieldSize="medium" placeholder="Title" name="challengeposition{{challengeindex}}" [(ngModel)]="newtrack.challenges[challengeindex].challenge_position">
          </div>
        </div>
        <button nbButton size="tiny"  (click)="addNewChallenge(newtrack)">Add More Challenges</button>
        <button nbButton size="tiny" (click)="removeNewChallenge(newtrack)">Remove Last Challenges</button>
    </form>
    <div>
      <button nbButton class="float-right" (click)="saveimageconfig()">Submit the New Lab</button>
    </div>
  </nb-card-body>
</nb-card>
